/*header{
    height: 50px;
    background-color: rgb(228, 129, 48);
}


nav{
    height: 50px;
    background-color: rgb(230, 92, 184);
}

footer{
    height: 70px;
    background-color: rgb(158, 84, 23);
}


/*統一設定演示:height針對標籤的質，做高度的行內設定。2用bg設定顏色。*/